:root {
    --cor-principal: #52A78E;
    --cor-secundaria: #4B4E6D;
    --cor-textos: #676767;
    --cor-fonte-botoes: #FFFFFF;
    --cor-placeholder: #aaa;
    --cor-label-ativa: #52A78E;
    --cor-borda-input: #ddd;
    --cor-borda-input-focus: #52A78E;
    --cor-fundo-form: #f9f9f9;
    --sombra-form: rgba(0, 0, 0, 0.1);
    --cor-link: #52A78E;
    --cor-link-hover: #4B4E6D;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Fredoka', sans-serif;
}

body, html {
    background: url(/img/saude-a-bordo-bg.png);
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #f0f0f0;
    color: var(--cor-textos);
}

.main-container {
    background-color: #FFFFFF;
    border-radius: 16px;
    text-align: center;
    padding: 20px;
    width: 100%;
    max-width: 430px; /* Largura máxima */
}

.logo {
    width: 100px; /* Largura da logo */
    height: auto; /* Mantém proporção */
    margin-bottom: 3%; /* Espaçamento */
}

h1 {
    font-size: 26px; /* Tamanho da fonte do título */
    margin: 20px 0; /* Margem superior/inferior */
}

p {
    margin-bottom: 20px; /* Margem inferior */
}

.illustration {
    width: 100px; /* Tamanho da ilustração */
    margin: 20px 0; /* Espaçamento */
}

.form-cadastro {
    display: flex;
    flex-direction: column; /* Coloca os campos em coluna */
    align-items: center; /* Alinha os itens no centro */
    padding: 20px; /* Preenchimento */
    border-radius: 10px; /* Bordas arredondadas */
    width: 100%; /* Largura total */
}

.input-group {
    position: relative;
    width: 100%; /* Largura total */
    margin-bottom: 1.5rem; /* Espaçamento entre os campos */
    background-color: #FFFFFF;
}

.input-group input {
    width: 100%; /* Largura total */
    padding: 0.8rem; /* Preenchimento */
    border: 1px solid var(--cor-borda-input);
    border-radius: 5px; /* Bordas arredondadas */
    font-size: 1rem; /* Tamanho da fonte */
    outline: none; /* Sem contorno ao focar */
    background: none; /* Sem fundo */
    color: var(--cor-textos); /* Cor do texto */
}

.input-group input:focus {
    border-color: var(--cor-borda-input-focus); /* Cor da borda ao focar */
}

.input-group label {
    position: absolute;
    top: 50%; /* Centraliza verticalmente */
    left: 0.8rem; /* Lateral esquerda */
    transform: translateY(-50%); /* Centraliza verticalmente */
    padding: 0 0.2rem; /* Preenchimento */
    color: var(--cor-placeholder); /* Cor do texto placeholder */
    transition: 0.3s; /* Transição suave */
    pointer-events: none; /* Ignora eventos */
}

.input-group input:focus + label,
.input-group input:not(:placeholder-shown) + label {
    top: -0.6rem; /* Move a etiqueta para cima ao focar */
    left: 0.6rem; /* Ajuste lateral */
    font-size: 0.8rem; /* Tamanho menor da fonte */
    color: var(--cor-label-ativa); /* Cor ativa */
}
.password-container {
    position: relative;
}

.show-password-icon {
    position: absolute;
    right: 10px;
    top: 50%;
    transform: translateY(-50%);
    width: 20px;
    cursor: pointer;
}
.btn {
    width: 100%; /* Largura total */
    padding: 0.8rem; /* Preenchimento */
    background-color: var(--cor-principal); /* Cor de fundo */
    color: var(--cor-fonte-botoes); /* Cor do texto */
    border: none; /* Sem borda */
    border-radius: 10px; /* Bordas arredondadas */
    cursor: pointer; /* Cursor em forma de mão */
    margin-top: 1rem; /* Margem superior */
    margin-bottom: 1em;
    font-size: 1rem; /* Tamanho da fonte */
    transition: background-color 0.3s; /* Transição suave */
}

.btn:hover {
    background-color: var(--cor-secundaria); /* Cor ao passar o mouse */
    color: var(--cor-placeholder)
}

.link {
    color: var(--cor-link); /* Cor do link */
    text-decoration: none; /* Sem sublinhado */
    font-size: 0.9rem; /* Tamanho da fonte */
    margin-top: 1rem; /* Margem superior */
}

.link:hover {
    color: var(--cor-link-hover); /* Cor ao passar o mouse */
    text-decoration: underline; /* Sublinhado ao passar o mouse */
}

@media (max-width: 600px) {
    h1 {
        font-size: 22px; /* Tamanho menor em telas pequenas */
    }
    
    .logo {
        width: 50%; /* Aumenta a largura em telas pequenas */
    }

    .input-group input {
        padding: 0.5rem; /* Ajusta o preenchimento em telas pequenas */
    }

    .btn {
        max-width: 90%; /* Largura máxima em telas pequenas */
    }
}