:root {
    --cor-principal: #52A78E;
    --cor-secundaria: #4B4E6D;
    --cor-textos: #676767;
    --cor-fonte-botoes: #FFFFFF;
    --cor-placeholder: #aaa;
    --cor-label-ativa: #52A78E;
    --cor-borda-input: #ddd;
    --cor-borda-input-focus: #52A78E;
    --cor-fundo-form: #f9f9f9;
    --sombra-form: rgba(0, 0, 0, 0.1);
    --cor-link: #52A78E;
    --cor-link-hover: #4B4E6D;
}


/* Reset global styles */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.body, html {
	background: url(/img/saude-a-bordo-bg.png);
}



/* Seção do Topo */
#top-section {
    width: 100%;
    background-color: #fff; /* Fundo branco */
    padding: 10px 10px;
	margin-bottom: 10px;
}

.top-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

/* Botão Voltar */
#back-button {
    padding: 12px 20px;
	font-family: fredoka;
    color: var(--cor-placeholder);
	background-color: #fff;
    border-style: solid;
	border-color: var(--cor-placeholder);
	border-radius: 10px;
    cursor: pointer;
    font-size: 16px;
}

#back-button:hover {
    background-color:#52a76e;
	color: #fff;
}

/* Estilo do usuário logado */
#user-info {
	display: flex;
	align-items: center;
    font-size: 16px;
    font-family: Fredoka, sans-serif;
    color: rgba(112, 112, 112, 1);
}

#user-name {
	padding: 10px;
}

/* Seção do formulário */
#form-section {
    width: 100%;
    max-width: 430px;
    margin: 100px auto;
    padding: 20px;
    background-color: rgba(255, 255, 255, 1);
    border-radius: 21px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.161);
}

/* Título */
#form-section h1 {
    text-align: center;
    font-size: 18px;
    color: rgba(112, 112, 112, 1);
    font-family: Fredoka, sans-serif;
    margin-bottom: 20px;
}

/* Estilo dos campos do formulário */
.form-group {
    margin-bottom: 20px;
}

.form-group label {
    display: block;
    font-size: 15px;
    font-family: Fredoka, sans-serif;
    color: rgba(112, 112, 112, 1);
    margin-bottom: 5px;
}

.form-group input,
.form-group select,
.form-group textarea {
    width: 100%;
    padding: 12px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 10px;
    background-color: rgba(255, 255, 255, 1);
}

.form-group textarea {
    resize: vertical;
}

.form-group button {
    padding: 14px 20px;
    font-size: 16px;
    color: #fff;
    background-color: var(--cor-principal);
    border: none;
    border-radius: 16px;
    cursor: pointer;
    width: 100%;
	height: 50px;
}

.form-group button:hover {
    background-color: rgba(76, 78, 109, 1);
	color: var(--cor-placeholder)
}

/* Responsividade */
@media (max-width: 768px) {
    #form-section {
        padding: 15px;
    }

    #form-section h1 {
        font-size: 16px;
    }
}